
<style>
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>

<div class="footer">
<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="https://getbootstrap.com/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
        title="Bootstrap"
        aria-label="Bootstrap"
      >
        <i class="fa-brands fa-bootstrap"></i>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">
        &copy; 2026 Aleksa Vujičić
      </span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      </li>
    </ul>
  </footer>
</div>
</div>
