<div class="list-group courses">
  <label class="list-group-item course">
    <div>
      <span class="course-code">MATH135</span>
      <span class="course-title">Algebra for Honours Mathematics</span>
    </div>
    <div class="course-semester">
      <abbr title="01-01-2022 to 30-04-2022">Winter, 2022</abbr>
    </div>
  </label>
  <label class="list-group-item course">
    <div>
      <span class="course-code">MATH235</span>
      <span class="course-title">Linear Algebra 2 for Honours Mathematics</span>
    </div>
    <div class="course-semester">
      <abbr title="01-01-2022 to 30-04-2022">Winter, 2022</abbr>
    </div>
  </label>
  <label class="list-group-item course">
    <div>
      <span class="course-code">MATH136</span>
      <span class="course-title">Linear Algebra 1 for Honours Mathematics</span>
      <span class="course-load">(1 TA)</span>
      <small class="course-bonus d-block text-body-secondary">Lecturer, <a href="/teaching/2022-linear-algebra" class="">details...</a></small>
    </div>
    <div class="course-semester">
      <abbr title="01-05-2022 to 31-08-2022">Spring, 2022</abbr>
    </div>
  </label>
</div>
