.sidebar {
    position: fixed;
    width: inherit;
    margin: 10px;
    padding: 10px;

    border: 2px solid var(--bs-border-color);
    border-radius: 10px;
    font-size: small;

    background: var(--bs-secondary-bg);
}

.author__avatar {
    vertical-align: top;

    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    img {
        vertical-align: top;

        max-width: 175px;
        border-radius: 50%;
        width: 80%;

        padding: 2px;
        border: 1px solid var(--bs-dark-border-subtle);
    }
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
