<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 d-none d-sm-block">
          <div class="sidebar">
            {% include sidebar.html %}
          </div>
        </div>

        <div class="col">
          <div class="content">
            {{ content }}
          </div>
        </div>

        <div class="col-md-1 col-lg-2 col-xl-3"></div>
      </div>
    </div>

    {% include bootstrap.html %}
  </body>
</html>
