---
layout: default
---

{% assign collection = site.data.structure.collections[page.collection] %}

<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
  {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

  <div class="page__inner-wrap">
    <header>
      {% if page.title %}
        <h1 class="content-header page-header" itemprop="headline">
          {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </h1>
      {% endif %}

      {% if page.collection == 'teaching' %}
        <p> {{ page.type }}, <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif page.venue and page.date %}
        <p>Published in <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif page.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
      {% endif %}

    </header>

    <section class="page__content" itemprop="text">
      {{ content }}

      {% if page.abstract %}
        <h3>Abstract</h3>
        {{ page.abstract }}
      {% endif %}


      <div class="item-buttons">
        {% if page.citation %}
          <span class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-book-open"></i> Cite
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" onclick="updateClipboard();">BibTeX</a>
              </li>
            </ul>
          </span>
          {% comment %}
          <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
            Popover on top
          </button>
          {% endcomment %}
        {% endif %}
        {% for attachment in page.attachments %}
          {% include attachment-button.html attachment=attachment %}
        {% endfor %}
      </div>

      <a class="btn btn-link" href="{{ base_path }}{{ collection.return-url }}">Return to {{ collection.return-title }}</a>

    </section>
  </div>
</article>

<script type="text/javascript">

function updateClipboard(newClip) {
  newClip = `{{ page.citation.bibtex }}`;
  navigator.clipboard.writeText(newClip).then(
    () => {
      /* clipboard successfully set */
    },
    () => {
      /* clipboard write failed */
    },
  );
}
</script>
